# API settings
API_PREFIX=/api
DEBUG=True

# Allowed Origins (Example)
ALLOWED_ORIGINS=https://localhost:3000,https://localhost:5173

# Keys
APP_API_KEY=key-for-authenticated-requests

# LLM API Keys
GOOGLE_API_KEY=your-google-api-key
OPENAI_API_KEY=your-openai-api-key
ANTHROPIC_API_KEY=your-anthropic-api-key

# Langfuse Configuration
LANGFUSE_SECRET_KEY=your-langfuse-secret-key
LANGFUSE_PUBLIC_KEY=your-langfuse-public-key
LANGFUSE_HOST=your-langfuse-host-url

# Inngest Configuration
INNGEST_BASE_URL=http://host.docker.internal:8288
INNGEST_DEV=1
INNGEST_EVENT_KEY=your-inngest-event-key
INNGEST_SIGNING_KEY=your-inngest-signing-key

# Redis Configuration
REDIS_PASSWORD=your-redis-password
REDIS_HOST=your-redis-host
REDIS_PORT=your-redis-port

# GitHub App Configuration
GITHUB_APP_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\nYOUR-PRIVATE-KEY-HERE\n-----END RSA PRIVATE KEY-----\n"
GITHUB_CLIENT_ID=your-github-apps-client-id
GITHUB_INSTALLATION_ID=your-github-apps-installation-id
GITHUB_APP_SIGNED_JWT_TTL=600
GITHUB_API_GQL_ENDPOINT=https://api.github.com/graphql

# Slack Configuration
SLACK_BOT_TOKEN=your-slack-bot-token
