# API settings
API_PREFIX=/api
DEBUG=True

# Allowed Origins (Example)
ALLOWED_ORIGINS=https://localhost:3000,https://localhost:5173

# Keys
AUTH_SECRET_KEY=a-super-secret-key-change-me

# LLM API Keys
GOOGLE_API_KEY=your-google-api-key
OPENAI_API_KEY=your-openai-api-key
ANTHROPIC_API_KEY=your-anthropic-api-key