# API settings
API_PREFIX=/api
DEBUG=True

# Allowed Origins (Example)
ALLOWED_ORIGINS=https://localhost:3000,https://localhost:5173

# Keys
APP_API_KEY=key-for-authenticated-requests

# LLM API Keys
GOOGLE_API_KEY=your-google-api-key
OPENAI_API_KEY=your-openai-api-key
ANTHROPIC_API_KEY=your-anthropic-api-key

# Langfuse Configuration
LANGFUSE_SECRET_KEY=your-langfuse-secret-key
LANGFUSE_PUBLIC_KEY=your-langfuse-public-key
LANGFUSE_HOST=your-langfuse-host-url

# Inngest Configuration
INNGEST_BASE_URL=http://host.docker.internal:8288
INNGEST_DEV=1
INNGEST_EVENT_KEY=your-inngest-event-key
INNGEST_SIGNING_KEY=your-inngest-signing-key

REDIS_PASSWORD=your-redis-password
